/* landscape profile style sheet */

@import url(../sign_switcher.css);
@import url(../rates.css);

#infos .infos_identity > .check {
	margin-top: 30px;
}

#infos .infos_log > .check {
	margin-top: 45px;
}

#infos .infos_log > .check:last-child {
	margin-top: 75px !important;
}


#infos input {
	float: left;	
}

.heart {
	width: 66.6px;
	height: 58.8px;
	text-align: center;
	font-size: large;
	color: #FFFFFF;
	line-height: 42px;
	font-size: 12pt;
	position: relative;
	float:left;
	background-size: contain;
	background-repeat: no-repeat;
	margin-left: 20px;
	cursor: default;
}

.heart_15_39 {
	background-image: url(../images/screen_home/heart_15_39.png);
}

.heart_40_59 {
	background-image: url(../images/screen_home/heart_40_59.png);
}

.heart_60_79 {
	background-image: url(../images/screen_home/heart_60_79.png);
}

.heart_80_100 {
	background-image: url(../images/screen_home/heart_80_100.png);
}

.gauge {
	position: relative;
	width: 44.64px;
	height: 69.12px;
	background-size: contain;
	background-repeat: no-repeat;
	float:left;
	margin-left: 20px;
}

.gauge_lvl1 {
	background-image: url(../images/screen_home/gauge_lvl1.png);
}

.gauge_lvl2 {
	background-image: url(../images/screen_home/gauge_lvl2.png);
}

.gauge_lvl3 {
	background-image: url(../images/screen_home/gauge_lvl3.png);
}

#color_picker {
	position: relative;
	float: right;
	width: 75px;
	height: 280px;
	cursor: pointer;
	overflow: hidden;
}

#global_portrait_wrapper {
	position: relative;
	margin-left: 0;
	float: right;
	width: 450px;
}

#global_portrait {
	float: left;
	position: relative;
}

#navbar {
	display: none;
}

#navbar_landscape {
	position: relative;
	display: block;
	width: 84%;
	height: 42px;
	line-height: 42px;
	margin-left: 0;
	white-space: nowrap;
	border-bottom: 5px solid #333;
}

.chidren_navbar {
	position: relative;
	background-image: url(../images/profile/screen/tab_landscape.png);
	background-repeat: no-repeat;
	background-size: contain;
	vertical-align: middle;
	display: inline-block;
	white-space: normal;
	color: #FFF;
	font-weight: bold;
	height: 40px;
	width: 140px;
	margin-top: 7px;
	padding-left: 20px;
}

.chidren_navbar:first-child {
	margin-right: 30%;	
}

.chidren_navbar a {
	text-decoration: none;
	color: #FFF;
}

.chidren_navbar_edit > a:last-child {
	padding-left: 15px;
}

.chidren_navbar_edit {
	background-image: url(../images/profile/screen/tab_landscape_edit_glow.png);
	position: relative;
	margin-left: 17%;
	cursor: pointer;
}

.chidren_navbar_edit:hover {
	background-image: url(../images/profile/screen/tab_landscape_edit.png);
}

#bt_personality, #bt_physique {
	margin-top: -5px;
	height: 40px;
	width: 140px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#bt_personality	 {
	margin-left: 12px;
}

#bt_edit {
	margin-top: -5px;
	height: 40px;
	width: 50px;
}

.personality {
	background: url(../images/profile/screen/bar_perso_body_edit.png);
}


.physique {
	background: url(../images/profile/screen/bar_body_perso_edit.png);
}

.edit {
	background: url(../images/profile/screen/bar_edit_body_perso.png);
}

.edit_personality {
	background: url(../images/profile/screen/bar_perso_body.png);
}


.edit_physique {
	background: url(../images/profile/screen/bar_body_perso.png);
}


#genderBox {
	width: 268px;
	margin-left: 7%;
	text-align: center;
	margin-left: auto;
}

#genderBox>:first-child {
	display: block;
}

#woman {
	position: relative;
	float: left;
	width: 45px;
	height: 90px;
	background-repeat: no-repeat;
	background-position: bottom;
	cursor: pointer;
}

#man {
	position: relative;
	float: left;
	width: 64px;
	height: 90px;
	background-repeat: no-repeat;
	background-position: bottom;
	cursor: pointer;
	margin-left:30px;
}

#woman_text {
	margin-right: 30px;	
}

#woman_text, #man_text {
	float: left;
}

.portrait {
	position: relative;
	float: left;
}

.container > .content >:first-child {
	min-width: 826px;	
}

#infos {
	display: inline;
	position: relative;
	margin-left: 0;
	float: left;
	width: 40%;
	min-width: 374px;
}

.infos_identity {
	position: relative;
	float: left;
	width: 50%;
}

.infos_log {
	position: relative;
	float: right;
	width: 50%;
}

#tab_wrapper {
	width: 90%;	
}

#tab_personality, #tab_physique {
	height: 100%;
	padding-bottom: 150px;
	width: 45%;
	margin-top: 20px;
	float: left;
}

.portrait > p {
	position: absolute;
	width: 90px;
	font-size: 9pt;
	font-weight: bold;
	right: -14px;
	padding-left: 20px;
}

#color_hair {
	float: left;
	margin-top: 20px;
	margin-left: 50px;
}

#color_eyes {
	float: left;
}

#color_skin {
	float: left;
	margin-left: 28px;
}

.color_black:before, .color_blond:before, .color_blue:before, .color_brown:before, .color_ginger:before, .color_green:before, .color_grey:before, .color_white:before, .color_whiteh:before, .color_yellow:before {
	margin-right: 10px;	
}

.color_black:before {
	content: url(../images/forms/select_black.png);
}

.color_blond:before {
	content: url(../images/forms/select_blond.png);
}

.color_blue:before {
	content: url(../images/forms/select_blue.png);
}

.color_brown:before {
	content: url(../images/forms/select_brown.png);
}

.color_ginger:before {
	content: url(../images/forms/select_ginger.png);
}

.color_green:before {
	content: url(../images/forms/select_green.png);
}

.color_grey:before {
	content: url(../images/forms/select_grey.png);
}

.color_white:before {
	content: url(../images/forms/select_white.png);
}

.color_whiteh:before {
	content: url(../images/forms/select_whiteh.png);
}

.color_yellow:before {
	content: url(../images/forms/select_yellow.png);
}

.avatar {
	position: relative;
	float: left;
	height: 170px;
	width: 170px;
	border: 4px solid #000000;
}

.avatar img {
	max-height: 170px;
	height: 100%;
	width: 100%;
}

.avatar a {
	position: absolute;
	left: 0;
	bottom: 0;
	background: url(../images/profile/screen/button_avatar_edit.png);
	width: 60px;
	height: 26px;
	border: 0;
	color: #fff;
	font-weight: bold;
	text-align: left;
	cursor: pointer;
	text-align:center;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.avatar a:hover {
	background: url(../images/profile/screen/button_avatar_edit_glow.png);
}

.avatar a p {
	margin-top: 3px;
	margin-left: -12px;
}

.box_birthdate {
	width: 65% !important;
	margin-top: 70px;
	background-image: url(../images/forms/button_calendar.png);
	background-position: right;
	background-repeat: no-repeat;
}

.box_identity {
	margin-top: 25px !important;
	width: 65% !important;
}

.box_log {
	margin-top: 40px !important;
	width: 65% !important;
}

#silhouette {
	position: relative;
	float: right;
	height: 313px;
	width: 60px;
	margin-left: 300px;
	margin-top: 10px;
}

#silhouette_img {
	position: absolute;
	float: left;
	height: 313px;
	width: 60px;
	background-repeat: no-repeat;
	background-size: 60px 313px;
	bottom: 0;
}

.silhouette_woman {
	background-image: url(../images/profile/woman/silhouette.png)
}

.silhouette_man {
	background-image: url(../images/profile/man/silhouette.png)
}


#slider_height {
	position: absolute;
	margin-top: 16px;
	height: 273px;
	left: 90px;
	width: 3px;
}

#slider_weight {
	position: absolute;
	width: 106px;
	top: 324px;
	left: -36px;
	height: 3px;
}


#height_wrapper {
	position: absolute;
	float: left;
	margin-top: 40px;
}

#weight_wrapper {
	position: absolute;
	float: left;
	margin-top: 100px;
}


#height, #weight {
	margin-right: 10px;	
}

.ui-slider {
	background-color: #000;
	background-image: none;
}

.ui-slider a {
	margin-top:-5px;
}

#slider_height a, #slider_weight a {
	color: black;
	font-weight: normal;
	text-decoration: none;
	font-size: 9pt;
	width: 25px;
	background-image: url(../images/background_grey.png);
	border: none;
	line-height: 20px;
	padding-bottom: 7px;
	margin-left: -7px;
}

#rate_party {
	height: 100px;
	white-space: nowrap;
	width: 160px;
}

#rate_party_text {
	text-align: center;
}

#rate_alcohol {
	margin-top: 40px;
	height: 100px;
	white-space: nowrap;
	width: 140px;
}

#rate_alcohol_text {
	text-align: center;
}

#rate_tobacco {
	margin-top: 50px;
	height: 100px;
	white-space: nowrap;
	width: 120px;
}

#rate_tobacco_text {
	text-align: center;
}

#rate_tatoo {
	width: 190px;
}

#rate_tatoo_text {
	text-align: center;
}

#silhouette_wrapper {
	width: 220px;
}

#rate_piercing {
	width: 140px;
	white-space: nowrap;
}

#rate_piercing_text {
	text-align: center;
}

#haircut {
	margin-top: 20px;
	width: 116px;
	float: left;
}

#rate_haircut {
	width: 116px;
	height: 42px;
	border-bottom: 5px solid #000;
}

#haircut p {
	text-align: center;
}

.haircut_1 {
	position: relative;
	background-color: #000;
	vertical-align: bottom;
	display: inline-block;
	white-space: normal;
	width: 8px;
	height: 12px;
}

.haircut_1_blank {
	position: relative;
	background-color: rgba(0, 0, 0, 0.3);
	vertical-align: bottom;
	display: inline-block;
	white-space: normal;
	width: 8px;
	height: 12px;
}

.haircut_2 {
	position: relative;
	background-color: #000;
	vertical-align: bottom;
	display: inline-block;
	white-space: normal;
	width: 8px;
	height: 22px;
	margin-left: 22px;
}


.haircut_2_blank {
	position: relative;
	background-color: rgba(0, 0, 0, 0.3);
	vertical-align: bottom;
	display: inline-block;
	white-space: normal;
	width: 8px;
	height: 22px;
	margin-left: 22px;
}

.haircut_3 {
	position: relative;
	background-color: #000;
	vertical-align: bottom;
	display: inline-block;
	white-space: normal;
	width: 8px;
	height: 32px;
	margin-left: 22px;
}


.haircut_3_blank {
	position: relative;
	background-color: rgba(0, 0, 0, 0.3);
	vertical-align: bottom;
	display: inline-block;
	white-space: normal;
	width: 8px;
	height: 32px;
	margin-left: 22px;
}

.haircut_4 {
	position: relative;
	background-color: #000;
	vertical-align: bottom;
	display: inline-block;
	white-space: normal;
	width: 8px;
	height: 42px;
	margin-left: 22px;
}


.haircut_4_blank {
	position: relative;
	background-color: rgba(0, 0, 0, 0.3);
	vertical-align: bottom;
	display: inline-block;
	white-space: normal;
	width: 8px;
	height: 42px;
	margin-left: 22px;
}


#preload_bt_avatar_edit {
	background: url(../images/profile/screen/button_avatar_edit_glow.png);	
}

#avatarfile {
	display: none; /* bug pas jespere */
}

#driving_license {
	margin-top: 50px;
}

.driving_license_none {
	background-image: url(../images/profile/screen/driving_license_none.png);
	width: 63px;
	height: 59px;
	margin-left: 7px;
}

.driving_license_none_blank {
	background-image: url(../images/profile/screen/driving_license_none_blank.png);
	width: 63px;
	height: 59px;
	margin-left: 20px;
}

.driving_license_car {
	background-image: url(../images/profile/screen/driving_license_car.png);
	width: 146px;
	height: 48px;
	margin-left: 30px;
}

.driving_license_car_blank {
	background-image: url(../images/profile/screen/driving_license_car_blank.png);
	width: 146px;
	height: 48px;
	margin-left: 30px;
}

.driving_license_motorcycle {
	background-image: url(../images/profile/screen/driving_license_motorcycle.png);
	width: 94px;
	height: 43px;
	margin-left: 30px;
}

.driving_license_motorcycle_blank {
	background-image: url(../images/profile/screen/driving_license_motorcycle_blank.png);
	width: 94px;
	height: 43px;
	margin-left: 30px;
}

.driving_license_none, .driving_license_none_blank, .driving_license_car, .driving_license_car_blank, .driving_license_motorcycle, .driving_license_motorcycle_blank {
	position: relative;
	background-position: bottom;
	background-repeat: no-repeat;
	background-size: contain;
	display: inline-block;
	white-space: normal;
}

#live_with {
	margin-top: 30px;
}

.live_w_parents_blank, .live_w_mates_blank, .live_alone_blank, .live_w_parents_woman, .live_w_mates_woman, .live_alone_woman, .live_w_parents_man, .live_w_mates_man, .live_alone_man {
	width: 80px;
	height: 80px;
	display: inline-block;
}

.live_w_parents_woman {
	background-image: url(../images/profile/woman/live_w_parents.png);
}

.live_w_mates_woman {
	background-image: url(../images/profile/woman/live_w_mates.png);
}

.live_alone_woman {
	background-image: url(../images/profile/woman/live_alone.png);
}

.live_w_parents_man {
	background-image: url(../images/profile/man/live_w_parents.png);
}

.live_w_mates_man {
	background-image: url(../images/profile/man/live_w_mates.png);
}

.live_alone_man {
	background-image: url(../images/profile/man/live_alone.png);
}

.live_w_parents_blank {
	opacity: 0.3;
	background-image: url(../images/profile/man/live_w_parents_blank.png);
}

.live_w_mates_blank {
	opacity: 0.3;
	background-image: url(../images/profile/man/live_w_mates_blank.png);
}

.live_alone_blank {
	opacity: 0.3;
	background-image: url(../images/profile/man/live_alone_blank.png);
}

.check {
	float: left;
	width: 22px;
	height: 25px;
	margin-left: 7px;
	background-repeat: no-repeat;
}

.gauge_modifier.plus, .gauge_modifier.minus {
	height: 39px;
	width: 39px;
	background-repeat: no-repeat;
	background-size: contain;
	position: relative;
	float: left;
	margin-left: 5px;
	cursor: pointer;
}

.gauge_modifier.plus {
	background-image: url(../images/profile/screen/gauge_plus.png);
}

.gauge_modifier.plus:hover {
	background-image: url(../images/profile/screen/gauge_plus_hover.png);
}

.gauge_modifier.minus {
	background-image: url(../images/profile/screen/gauge_minus.png);
}

.gauge_modifier.minus:hover {
	background-image: url(../images/profile/screen/gauge_minus_hover.png);
}
