/* lanscape home style sheet */

@import url(../sign_switcher.css);


#mapContent {
	position: relative;
	float: left;
	width: 72%;
	min-width: 360px;
	margin-left: 18px;
}

#subscribe_landscape {
	width: 23%;
	position: relative;
	float: right;
}

#mapContainer {
	position: relative;
	width: 97%;
	min-width: 340px;
	margin-left: 1.5%;
	border: 3px solid #ffffff;
}

#mapNoGPS {
  position: absolute;
  top: 5px;
  right: 8px;
  height: 40px;
}

#mapNoGPS > p {
	float: left;
}

#resultBar {
	position: relative;
	height: 130px;
	width: 100%;
	min-width: 352px;
	background-color: rgba(240,242,242,0.5);
	overflow: hidden;
	margin-bottom: 4%;
}

#form_portrait {
	display: none;
}

.mapTopLeft, .mapTopRight, .mapBottomLeft, .mapBottomRight {
	position: absolute;
	background-image: url(../images/screen_home/map_corners.png);
	width: 20px;
	height: 20px;
}

.mapTopLeft {
	left: 0;
	top: 0;
}

.mapTopRight {
	right: 0;
	top: 0;
	background-position: top right;
}

.mapBottomRight {
	right: 0;
	bottom: 0;
	background-position: bottom right;
}

.mapBottomLeft {
	left: 0;
	bottom: 0;
	background-position: bottom left;
}

#mapCanvas {
	min-width: 340px;
	min-height: 340px;
}

#loadmap {
	position: absolute;
	top: 58%;
	left: 44%;	
}

#loadmap p {
	position: relative;
	top: 20px;
	text-indent: -65px;
	left: -90px;
	width: 300px;	
}

.barload {
	background-color: #9B1A22;
	background-image: linear-gradient(45deg, #9B1A22 25%, #7F1F1B);
	background-image: -moz-linear-gradient(45deg, #9B1A22 25%, #7F1F1B); 
	background-image: -webkit-linear-gradient(45deg, #9B1A22 25%, #7F1F1B);
	background-image: -ms-linear-gradient(45deg, #9B1A22 25%, #7F1F1B);
	border-left: 1pxm solid #111;
	border-top: 1px solid #111;
	border-right: 1px solid #333;
	border-bottom: 1px solid #333; 
	width: 14px;
	height: 14px;
	float: left;
	margin-left: 5px;
  opacity: 0.1;
	transform: scale(0.7);
	-moz-transform: scale(0.7);
	-webkit-transform: scale(0.7);
	-ms-transform: scale(0.7);
	animation: moveload 1s infinite linear;
	-ms-animation: moveload 1s infinite linear;
	-moz-animation: moveload 1s infinite linear;
	-webkit-animation: moveload 1s infinite linear;
}


#blockload_1 {
	animation-delay: .2s;
 	-moz-animation-delay: .2s;
	-webkit-animation-delay: .2s;
	-ms-animation-delay: .2s;
}

#blockload_2 {
 	animation-delay: .4s;
 	-moz-animation-delay: .4s;
	-webkit-animation-delay: .4s;
	-ms-animation-delay: .4s;
}
#blockload_3 {
 	animation-delay: .6s;
 	-moz-animation-delay: .6s;
	-webkit-animation-delay: .6s;
	-ms-animation-delay: .6s;
}

#blockload_4 {
 	animation-delay: .8s;
 	-moz-animation-delay: .8s;
	-webkit-animation-delay: .8s;
	-ms-animation-delay: .8s;
}

@keyframes moveload {
	0% {
		transform: scale(1.2);
		opacity: 1;
	}
	100% {
		transform: scale(0.7);
		opacity: 0.1;
	}
}

@-moz-keyframes moveload {
	0% {
		-moz-transform: scale(1.2);
		opacity: 1;
	}
	100% {
		-moz-transform: scale(0.7);
		opacity: 0.1;
	}
}

@-webkit-keyframes moveload {
	0% {
		-webkit-transform: scale(1.2);
		opacity: 1;
	}
	100% {
		-webkit-transform: scale(0.7);
		opacity: 0.1;
	}
}

@-ms-keyframes 'moveload' {
	0% {
		-ms-transform: scale(1.2);
		opacity: 1;
	}
	100% {
		-ms-transform: scale(0.7);
		opacity: 0.1;
	}
}

.button_resultBar {
	position: absolute;
	background-size: contain;
	background-repeat: no-repeat;
	top: 0;
	width: 26px;
	height: 130px;
	cursor: pointer;
	z-index: 5;
}

#button_resultBar_top {
	left: 0;
	background-image: url(../images/screen_home/button_horiz_left_result_bar.png);
	background-position: left;
}

#button_resultBar_bottom {
	right: 0;
	background-image: url(../images/screen_home/button_horiz_right_result_bar.png);
	background-position: right;
}

#results {
	position: absolute;
	display: inline;
	width: 100%;
	-webkit-transition-property: left;
	-moz-transition-property: left;
	-ms-transition-property: left;
	transition-property: left;
	transition-duration: 0.4s;
	-webkit-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
	-ms-transition-duration: 0.4s;
}

.result:first-child {
	margin-left: 22px;
}

.result {
	position: relative;
	display: inline-block;
	float: left;
	height: 130px;
	width: 240px;
	border-right: 3px solid rgba(155,27,34, 0.8);
	background-color: rgba(255,255,255,0.55);
	text-align: right;
	padding-top: 10px;
	padding-left: 10px;
}

.result .heart_15_39, .result .heart_40_59, .result .heart_60_79, .result .heart_80_100 {
	width: 42.108px;
	height: 35.574px;
	text-align: center;
	font-size: large;
	color: #FFFFFF;
	line-height: 22px;
	font-size: 12pt;
	position: absolute;
	top: 88px;
	left: 208px;
	z-index: 2;
	background-size: contain;
	background-repeat: no-repeat;
	opacity: 0.7;
	filter: alpha(opacity=70);
}

.heart_15_39 {
	background-image: url(../images/screen_home/heart_15_39.png);
}

.heart_40_59 {
	background-image: url(../images/screen_home/heart_40_59.png);
}

.heart_60_79 {
	background-image: url(../images/screen_home/heart_60_79.png);
}

.heart_80_100 {
	background-image: url(../images/screen_home/heart_80_100.png);
}

.result .gauge_lvl1, .result .gauge_lvl2, .result .gauge_lvl3 {
	position: absolute;
	top: 7px;
	left: 24px;
	width: 22.32px;
	height: 34.56px;
	background-size: contain;
	background-repeat: no-repeat;
	z-index: 4;
}

.gauge_lvl1 {
	background-image: url(../images/screen_home/gauge_lvl1.png);
}

.gauge_lvl2 {
	background-image: url(../images/screen_home/gauge_lvl2.png);
}

.gauge_lvl3 {
	background-image: url(../images/screen_home/gauge_lvl3.png);
}

.pseudo {
	position: absolute;
	z-index: 4;
	top: 57px;
	margin: 0;
	left: 20px;	
	line-height: 20px;
	width: 47px;
	height: 20px;
	color: #FFF;
	background-image: linear-gradient(bottom, rgba(145,36,51, 0.8) 34%, rgba(224,0,56, 0.2) 85%);
background-image: -o-linear-gradient(bottom, rgba(145,36,51, 0.8) 34%, rgba(224,0,56, 0.2) 85%);
background-image: -moz-linear-gradient(bottom, rgba(145,36,51, 0.8) 34%, rgba(224,0,56, 0.2) 85%);
background-image: -webkit-linear-gradient(bottom, rgba(145,36,51, 0.8) 34%, rgba(224,0,56, 0.2) 85%);
background-image: -ms-linear-gradient(bottom, rgba(145,36,51, 0.8) 34%, rgba(224,0,56, 0.2) 85%);

background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.34, rgba(145,36,51, 0.8)),
	color-stop(0.85, rgba(224,0,56, 0.2))
);
}

.avatars {
	position: absolute;
	background-image: url(../images/profile/avatar.png);
	background-size:contain;
	background-repeat:no-repeat;
	height: 140px;
	width: 120px;
	left: 128px;
	top: 2px;
}

.portrait {
	position: absolute;
	top: 2px;
	width: 73px;
	height: 72px;
	left: 20px;	
}

.infos {
	display: inline;
	position: absolute;
	top: 79px;
	left: 0;
	padding: 0;
	margin: 0;
	font-size: 9pt;
	text-indent: 0;
	width: 128px;
	overflow: hidden;
	text-align:left;
}

#notification {
	display: none;
	width: 23%;
	position: relative;
	float: right;
}

#subscribe_landscape > .subscribe {
	margin-top: 20px;
	margin-left: 40px;
}

#subscribe_landscape input {
	width: 70%;
	margin-top: 15px;
	float: left;
}

#genderBox {
	margin-top: 25px;
}

#birthdate {
	background-image: url(../images/forms/button_calendar.png);
	background-position: right;
	background-repeat: no-repeat;
}

#woman {
	position: relative;
	float: left;
	width: 25px;
	height: 36px;
	background-repeat: no-repeat;
	background-position: left;
	background-size: contain;
	cursor: pointer;
}

#man {
	position: relative;
	float: right;
	width: 37px;
	height: 55px;
	background-repeat: no-repeat;
	background-position: left;
	background-size: contain;
	cursor: pointer;
}

.bt_social {
	margin-top: 5px;
}

.bt_social > button {
	height: 28px;
	width: 28px;
	margin: 2px;
	background-size: contain !important;
	background-repeat: no-repeat;
	border: none;
	cursor: pointer;
	transition: height width 2s;
	-moz-transition: height width 2s;
	-webkit-transition: height width 2s;
	-o-transition: height width 2s;
}

.bt_social > button:hover {
	height: 32px;
	width: 32px;
	margin: 0;
}

.bt_facebook {
	background: url(../images/forms/ico_facebook.png);
}

.bt_twitter {
	background: url(../images/forms/ico_twitter.png);
}

.bt_feedback {
	background: url(../images/forms/ico_feedback.png);
}


